#main{
    height:700px;
    width:500px;
    margin:0 auto;
    top:50px;
    background-color: #eee;
}
#head{
    margin:50px 0 50px 39px;
}
#head span{
    color:blue
}
input{
    margin-top: 40px;
    height:25px;
    width: 250px;
}
label{
    font-size: 20px;
}
#gettw{
    height:35px;
    width:90px;
}
button{
    width: 400px;
    height:50px;
    display:block;
    margin:0 auto;
    margin-top:30px;
    background-color: rgb(105, 149, 199);
    color:white;
    border-radius: 20px;
}
#usertip{
    height:20px;
    color: red;
    margin-left: 80px;
    font-size: 14px;
}
#phonetip{
    height:20px;
    color: red;
    margin-left: 80px;
    font-size: 14px;
}
#passwtip{
    height:20px;
    color: red;
    margin-left: 80px;
    font-size: 14px;
}
#twtip{
    height:20px;
    color: red;
    margin-left: 80px;
    font-size: 14px;
}